[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-script = "*"

[packages]
flask = "*"
flask-mysqldb = "*"
flask-script = "*"
db = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"

[requires]
python_version = "3.8"
